@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: rgb(5, 28, 90);
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

div#content {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr min(700px, 100%) 1fr;
    grid-template-rows: auto 1fr auto;
}

div#content > div {
    border: 1px solid white;
    grid-column-start: 2;
}

div.header,
div.footer {
    margin: 50px 0;
    text-align: center;
}

div.main {
    padding: 8px 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
}

div.main h1 {
    text-align: center;
    border-bottom: 1px solid white;
    padding: 32px;
    margin-top: 0;
    grid-column-end: span 2;
}

figure {
    border: 1px solid white;
    border-right: none;
    text-align: center;
    padding-bottom: 8px;
    margin: 0 0 0 0;
    grid-row-start: 3;
    grid-column-start: 2;
    margin-bottom: 50px;
}

figure img {
    border-bottom: 1px solid white;
}

div.main p {
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    line-height: 150%;
    border: 1px solid white;
    border-left: none;
    padding: 8px;
    grid-row-end: span 2;
    align-self: flex-start;
    margin-top: 75px;
}
